* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: scroll;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

i {
  font-size: 30px;
}

header {
  width: 100%;
  height: 15%;
  background-color: #64a6e3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Archivo", sans-serif;
  padding: 10px;
  color: #031926;
}

header div,
header h3 {
  padding: 0 15px;
}

header h2 a {
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #031926;
  transition: background-color 0.5s;
}

label i {
  color: #ee1d52;
  padding: 10px;
}

.buscador {
  border: none;
  background-image: url("Imagenes/lupa.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border-radius: 5px;
  padding: 20px 30px;
}

.menu-btn,
.Titulo {
  background-color: transparent;
  padding: 10px;
  transition: background-color 0.5s;
}

.Titulo {
  font-size: 50px;
  text-decoration: none;
  color: black;
  font-family: "Kaushan script", sans-serif;
}

.menu-btn:hover,
.Titulo:hover,
header h2 a:hover,
.fa-cart-shopping:hover {
  cursor: pointer;
  color: white;
  background-color: #9debeb;
  span:hover {
    color: #ee1d52;
  }
}

.fa-cart-shopping {
  padding: 10px;
  color: #77aca2;
  transition: background-color 0.4s ease-out;
}

/* Menú lateral */
nav {
  position: fixed;
  top: 15%;
  left: 0;
  height: fit-content;
  width: 200px;
  background-color: #ffffff;
  transform: translateX(-100%);
  text-align: center;
  transition: transform 0.4s ease-in-out;
  z-index: 10;
  border-right: 2px solid #00afb9;
}

#menu-toggle:checked ~ nav {
  transform: translateX(0);
}

nav h3 a {
  text-decoration: none;
  color: #031926;
}

nav ul li {
  list-style: none;
  width: 100%;
}
nav ul li div {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  line-height: 3.5;
  padding: 0 20px;
  transition: background-color 0.4s ease-out;
  border-bottom: 2px solid #00afb9;
}
nav ul li div:hover {
  background: #468189;
  color: white;
}

nav ul li div a:hover {
  color: white;
}

main {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f8f8f8;
}

h2 {
  text-align: center;
}

.admin-panel {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
}

.admin-panel h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color: #333;
}

.admin-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 280px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card i {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 1rem;
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #333;
}

.card a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
/*parte de contactanos*/
.formulario {
  max-width: 500px;
  margin: 35px auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  margin-top: 10px;
  color: #031926;
  font-size: 20px;
  font-family: "Archivo", sans-serif;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid #333;
  box-sizing: border-box;
  font-size: 16px;
}
textarea {
  resize: vertical; /* Permite ajustar altura */
}
main {
  flex: 1;
}
button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: box-shadow 0.5s;
}
button:hover {
  box-shadow: 0 0 10px #9debeb;
}
.footer {
  position: relative;
  width: 100%;
  background: #286bcf;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  color: white;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
}

.text {
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  header {
    flex-wrap: wrap;
    height: fit-content;
  }
  .formulario {
    margin: 25px auto;
  }
  header h2 a {
    font-size: 1.2rem;
    color: white;
  }
  header h3,
  aside .espacio h3 {
    font-size: 1rem;
  }
  .menu-btn {
    font-size: 1.5rem;
  }
  .buscador {
    width: 100%;
    font-size: 0.85rem;
    margin: 10px auto;
    padding: 10px 20px;
  }
  .cuadro-busqueda {
    width: 50%;
  }
  .Titulo {
    width: 25%;
    font-size: 2rem;
    height: fit-content;
  }
  nav {
    top: 18%;
    width: 100%;
  }
  nav div {
    justify-content: center;
  }
  .footer {
    padding: 5px;
    height: auto;
  }
  input[type="text"],
  textarea,
  label {
    font-size: 1rem;
  }
  .footer .icon,
  .menu-icon,
  .text {
    font-size: 1rem;
  }
  .text {
    margin-top: 0;
    margin-bottom: 5px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  header {
    flex-wrap: wrap;
    height: fit-content;
  }
  header i,
  header h2 a {
    font-size: 1.2rem;
  }
  header h3 a {
    font-size: 1rem;
    color: #468189;
  }
  .buscador {
    width: 100%;
    font-size: 0.75rem;
    margin: 10px auto;
    padding: 10px 20px;
  }
  nav {
    top: 16%;
    background-color: #feda77;
  }
  .fa-cart-shopping {
    color: white;
  }
  .Titulo {
    font-size: 2rem;
  }
}
