* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: scroll;
}
body {
  min-height: 100vh;
}
.imagen {
  background-image: url("../Imagenes/Persona_comprando2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 50%;
  float: left;
}
.area_login {
  width: 50%;
  float: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.area_login .imagen2 {
  width: 100%;
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 50px;
}
h1 {
  font-size: 40px;
}
h1,
h2,
label,
button {
  font-family: "Kaushan script", sans-serif;
  text-align: center;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
label {
  text-align: center;
  font-size: 25px;
  width: 100%;
}
input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px #031926 solid;
  border-radius: 6px;
  font-family: "Archivo", sans-serif;
}
button {
  width: 50%;
  margin: 20px 0;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #00afb9;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  color: white;
}
.alerta {
  text-align: center;
  background-color: #fed9b7;
  font-size: 25px;
}
.fa-eye,
.fa-eye-slash {
  font-size: 25px;
  transform: translate(95px, -35px);
  cursor: pointer;
}
