<aside id="sidebar" class="d-flex flex-column p-3 bg-dark text-white">
    <div class="d-flex align-items-center justify-content-center">
        <a href="Ventana_Admin.html" class="d-flex align-items-center text-decoration-none text-white">
            <img src="../img/LogoEmpresa.png" alt="Logo EstilosPE" width="50" class="me-2" />
            <h3 class="m-0">EstilosPE</h3>
        </a>
    </div>
    <hr />
    <!-- Perfil de usuario -->
    <div class="text-center mb-0">
        <img src="../img/usuario.png" alt="Usuario" class="rounded-circle mb-2 usuario">
        <h6 class="m-0">Salvador Goicochea</h6>
        <h6 class="text-secondary">Administrador</h6>
    </div>
    <hr />
    <ul class="nav nav-pills flex-column mb-0">
        <li>
            <a href="/administrador/" class="nav-link active"><i class="bi bi-speedometer2 me-2"></i>Panel
                Principal</a>
        </li>
        <li>
            <a href="/administrador/compras" class="nav-link"><i class="bi bi-bag-check me-2"></i>Órdenes de Compra</a>
        </li>
        <li>
            <a href="/administrador/ventas" class="nav-link"><i class="bi bi-cart-check me-2"></i>Ventas</a>
        </li>
        <li>
            <a href="/administrador/gastos" class="nav-link"><i class="bi bi-cash-coin me-2"></i>Gastos Generales</a>
        </li>
        <li>
            <a href="/administrador/insumos" class="nav-link"><i class="bi bi-box-seam me-2"></i>Insumos</a>
        </li>
        <li>
            <a href="/administrador/productos" class="nav-link"><i class="bi bi-tags me-2"></i>Productos</a>
        </li>
        <li>
            <a href="/administrador/roles" class="nav-link"><i class="bi bi-person me-2"></i>Roles</a>
        </li>
    </ul>
</aside>