#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

#sidebar {
    width: 250px;
    min-height: 100vh;
}

.table-responsive {
    overflow-x: auto;
}

.table th, .table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}